/*ADDED BY ARUNIW*/

/*ICON FONTS CSS*/

@font-face {
  font-family: "Flaticon";
  src: url("../fonts/Flaticon.eot");
  src: url("../fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
  url("../fonts/Flaticon.woff") format("woff"),
  url("../fonts/Flaticon.ttf") format("truetype"),
  url("../fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../fonts/Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {
  font-family: Flaticon;
  font-size: 20px;
  font-style: normal;
  margin-left: 20px;
}

.flaticon-pp-camera:before { content: "\f100"; }
.flaticon-pp-commerce:before { content: "\f101"; }
.flaticon-pp-delete:before { content: "\f102"; }
.flaticon-pp-disable:before { content: "\f103"; }
.flaticon-pp-document:before { content: "\f104"; }
.flaticon-pp-email:before { content: "\f105"; }
.flaticon-pp-image-upload2:before { content: "\f106"; }
.flaticon-pp-info:before { content: "\f107"; }
.flaticon-pp-payment:before { content: "\f108"; }
.flaticon-pp-send:before { content: "\f109"; }
.flaticon-pp-settings:before { content: "\f10a"; }
.flaticon-pp-telephone:before { content: "\f10b"; }
.flaticon-pp-upload:before { content: "\f10c"; }
.flaticon-pp-upload1:before { content: "\f10d"; }
.flaticon-technology:before { content: "\f10e"; }