/*ADDED BY ARUNIW*/

/*VARIABLES - Colors, Fonts*/

/*Colors-Moutains Theme*/
$theme-primary: #F05F40;
$theme-dark: #222222;

/*Colors-Nature Theme*/
$pp-theme-grey: #1E1F1F;
$pp-theme-light-grey: #DADADA;
$pp-theme-dark-grey: #D1D7E0;
$pp-theme-green: #2ED8B1;
$pp-theme-white: #ffffff;
$pp-theme-card-bg: #F9F9F9;
$pp-theme-error-red: #d9534f;
$pp-theme-success-green: #5cb85c;
$pp-theme-dark-blue: #4045F0;

  /*Fonts*/
$serif-font: 'Merriweather', 'Helvetica Neue', Arial, sans-serif;
$sans-serif-font: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;


