<div id="page">

<div class="header mm-fixed-top topnavbar">
    <img src={{logo}} class="togglebutton">

    <p class="userbutton ">

    <div class="dropdown"><span class="usernametext" id="dropdownMenu1" data-toggle="dropdown">{{username}}

    <i class="fa fa-1x fa-chevron-down" style="color: #000000; font-size: 12px; margin-left: 0px;"></i></span>
        <ul class="dropdown-menu settingsdropdown" role="menu" aria-labelledby="dropdownMenu1">
            <li role="presentation"><a role="menuitem" tabindex="-1"
                                       ng-click="breadcrumb('Settings','Settings','#/settings')" href="#/settings"
                                       ng-hide="true"><i class="fa fa-1x fa-gears"></i>settings</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" ng-click="logOut()"><i
                    class="fa fa-1x fa-power-off"></i>log out</a></li>


        </ul>
    </div>


</div>

<div class="header mm-fixed-top bredcombar">
    <!-- <div class="top-header">
         <ul class="MainBreadcrumb pull-left">
             <li class="breadcrumbItem">
                 <a ng-click="parentBCClick()">Location</a>
             </li>
             <li class="breadcrumbItem" ng-repeat="it in brdCrumb">
                 <a ng-click='breadcrumbClick(it.id,it.url)'> <span><abbr title="{{it.name}}">{{it.name}}</abbr></span></a>
             </li>

         </ul>
     </div>-->

    <div ng-repeat="it in brdCrumb" ng-if="$index==brdCrumb.length-2"
         style="float: left; margin-left: 20px; color: #2B579A;" ng-click='breadcrumbClick(it.id,it.url)'
         class="settingsdropdown"><i class="fa fa-2x fa-arrow-circle-o-left"><span
            style="font-weight: normal !important;"> back</span></i></div>
    <div ng-repeat="it in brdCrumb" ng-if="brdCrumb.length==1"
         style="float: left; margin-left: 20px; color: #2B579A;" ng-click='parentBCClick()'
         class="settingsdropdown"><i class="fa fa-2x fa-arrow-circle-o-left"><span
            style="font-weight: normal !important;"> back</span></i></div>

</div>


<div class="header mm-fixed-top searchbarfordetailview">
    <div class="searicon" id="button" style="color: #000000; font-size: 30px;margin-top: 0px;"
         data-tool="just hangin'">Settings
    </div>
</div>


<!--THE ADVANCED LOOKUP HTML-->


<!--END OF THE LOOKUP-->

<div class="wrapperDiv" id="wrapperDevice">

    <div class="content" ng-style="{'height':myHeight}">
        <div class="row">

            <div class="col-lg-5 col-md-5 col-sm-5 displaydetails" ng-style="{'height':panelHeight}"
                 style="padding-right: 0px;padding-left: 0px;">

                <div class="displaydetailcontent">
                    <div class="displayname">User Name</div>
                    <div class="displayseperator">:</div>
                    <div class="displayvalue">{{usesrIfo.UserName}}</div>
                </div>

                <div class="displaydetailcontent">
                    <div class="displayname">Activated</div>
                    <div class="displayseperator">:</div>
                    <div class="displayvalue">{{usesrIfo.HasActivated}}</div>
                </div>

            </div>
            <div class="col-lg-7 col-md-7 col-sm-7" style="float: right;padding-left: 0px;padding-right: 0px;"
                 ng-style="{'height':panelHeight}">

                <form role="form" name="settingsForm">
                    <div class="displaydetailcontent">
                        <div class="displayname" style="padding-top: 15px; font-weight: bold;">Change Password:
                        </div>
                        <div class="displayseperator"></div>
                        <div class="displayvalue"><input type="text" class="form-control input-sm"
                                                         ng-model="changePassword.UserName" required readonly
                                                         ng-show="false"></div>
                    </div>

                    <div class="displaydetailcontent">
                        <div class="displayname" style="padding-top: 15px;">Old password</div>
                        <div class="displayseperator"></div>
                        <div class="displayvalue"><input type="password" name="oldPassword"
                                                         class="form-control input-sm"
                                                         ng-model="changePassword.OldPassword" required></div>
                        <div style="float: right; padding-top: 15px; padding-left: 10px;">
                    <span style="color:red"
                          ng-show="settingsForm.oldPassword.$dirty && settingsForm.oldPassword.$invalid">
                    <span ng-show="settingsForm.oldPassword.$error.required">Old password is required.</span>

                    </span>
                        </div>
                    </div>

                    <div class="displaydetailcontent">
                        <div class="displayname" style="padding-top: 15px;">New password</div>
                        <div class="displayseperator"></div>
                        <div class="displayvalue"><input type="password" name="newPassword"
                                                         class="form-control input-sm"
                                                         ng-model="changePassword.NewPassword" required></div>
                        <div style="float: right; padding-top: 15px; padding-left: 10px;">
                    <span style="color:red"
                          ng-show="settingsForm.newPassword.$dirty && settingsForm.newPassword.$invalid">
                    <span ng-show="settingsForm.newPassword.$error.required">New password is required.</span>

                    </span>
                        </div>
                    </div>

                    <div class="displaydetailcontent">
                        <div class="displayname" style="padding-top: 15px;">Confirm password</div>
                        <div class="displayseperator"></div>
                        <div class="displayvalue"><input type="password" name="cPassword"
                                                         class="form-control input-sm"
                                                         ng-model="changePassword.ConfirmPassword" required></div>
                        <div style="float: right; padding-top: 15px; padding-left: 10px;">
                    <span style="color:red" ng-show="settingsForm.cPassword.$dirty && settingsForm.cPassword.$invalid">
                    <span ng-show="settingsForm.cPassword.$error.required">Confirm password is required.</span>


                    </span>
                        </div>
                    </div>
                    <br>

                    <div class="displaydetailcontent">
                        <div class="displayname" style="padding-top: 15px;"></div>
                        <div class="displayseperator"></div>
                        <div class="displayvalue"><input type="submit" value="Confirm"
                                                         class="btn btn-primary dropdown-toggle"
                                                         style="margin-right: 10px;"
                                                         ng-disabled="settingsForm.$invalid || (changePassword.confirmPassword != changePassword.newPassword)"
                                                         ng-click="changePasswordFunc(changePassword)">
                            <input type="button" value="Clear All" style="margin-right: 0px;"
                                   class="btn btn-primary dropdown-toggle" ng-click="ClearAll()"></div>

                    </div>
                </form>

            </div>


        </div>

        <div PasswordModel class="modal fade" id="PasswordComfirmationModel" tabindex="-1" role="dialog"
             aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content" style="border: 1px solid #000000; width: 500px;">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span
                                aria-hidden="true">&times;</span><span
                                class="sr-only">Close</span></button>
                        <h4 class="modal-title" id="myModalLabel" style="margin-left: -405px;">Alert</h4>
                    </div>
                    <div class="modal-body" style="height: 100px !important; padding-top: 40px;">
                        <!--<span style="font-size: 12px; margin-right: 40px; color: darkred;"><img src="image/warningalert.png"/></span>-->

                        <img src={{modalAlertImage}} style="float: left; margin-top: -4px;"/> <span
                            style="color: #000000; float: left; margin-left: 8px;"> {{userErorInfo}} </span>

                    </div>


                    <div class="modal-footer">
                        <span style="font-size: 12px; margin-right: 80px; color: darkred;" ng-bind=""></span>
                        <button type="button" class="btn btn-primary" data-dismiss="modal">
                            {{buttonCaption}}
                        </button>


                    </div>


                </div>
            </div>
        </div>


        <alert class="alert loderbar" role="alert" ng-show="loaderStatus" close="loaderStatus=false">
                <span id="loader"> <p class="errormessage"><img src={{lodingImage}}
                                                                style="width: 25px; height: 25px; margin-right: 10px;"><span
                        style="color: #000000 !important;">{{userErorInfo}}</span>
                </p></span>

        </alert>


    </div>

</div>
</div>


