
<!--<div class="container">-->

    <!--<div class="row">-->

        <!--<div class="col-lg-3 col-md-3">

            <h3>Price Details</h3>
            <table>
                <tr>
                    <th width="50%">size</th>
                    <th width="50%">count</th>
                    <th>total</th>
                </tr>
                <tr ng-repeat="item in totalBill">
                    <td>{{item.size}}</td>
                    <td>{{item.count}}</td>
                    <td>{{item.total}}</td>

                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td>{{returnTotalBill()}}</td>
                </tr>
            </table>
            <div>
                <div>
                    Queue progress:
                    <div class="progress" style="">
                        <div class="progress-bar" role="progressbar"
                             ng-style="{ 'width': uploader.progress + '%' }"></div>
                    </div>
                </div>
                <label>size</label> <select style="width: 60px;" ng-model="size" ng-options="f for f in sizes" ng-disabled="!uploader.getNotUploadedItems().length" ng-change="changeTheSelectors()"></select><br/>
                <button style="border-radius: 0 !important; border-color: #000000; border-width: 1px;" type="button"
                        class="btn btn-s" ng-click="uploader.uploadAll()"
                        ng-disabled="!uploader.getNotUploadedItems().length">
                    <span class="glyphicon glyphicon-upload" style="color: #5cb85c;"></span> all
                </button>
                <button style="border-radius: 0 !important; border-color: #000000; border-width: 1px;" type="button"
                        class="btn btn-s" ng-click="uploader.cancelAll()" ng-disabled="!uploader.isUploading">
                    <span class="glyphicon glyphicon-ban-circle" style="color: #f0ad4e;"></span> all
                </button>
                <button style="border-radius: 0 !important; border-color: #000000; border-width: 1px;" type="button"
                        class="btn btn-s" ng-click="uploader.clearQueue()" ng-disabled="!uploader.queue.length">
                    <span class="glyphicon glyphicon-trash" style="color: #d9534f;"></span> all
                </button>
            </div>

        </div>-->

        <div class="col-lg-12 col-md-12 pp-step-wrapper pp-image-upload-container animated fadeIn file-upload-container">
            <div class="step-heading">
                <h1><span>Step 1.</span> Upload Documents</h1>
                <p>Upload your documents here</p>
            </div>

            <div ng-show="uploader.isHTML5" class="image-uploader">

                <!--Example: nv-file-drop="" uploader="{Object}" options="{Object}" filters="{String}" -->
                <div nv-file-drop="" uploader="uploader" options="{ url: '/foo' }">
                    <div nv-file-over="" uploader="uploader" over-class="another-file-over-class" class="well my-drop-zone">
                        <div class="flaticon-pp-image-upload2 upload-icon animated bounce file-upload-icon"></div>
                        <b>Drag & Drop</b>
                        <p>to upload</p>
                        <div>
                            <input type="file" class="hidden" id="uploadFile" nv-file-select="" uploader="uploader" multiple/>
                            <div class="browse-button" id="uploadTrigger">OR, Browse</div>
                        </div>
                    </div>
                </div>
            </div>


            <!--SCRIPT - Customize browse button-->
            <script type="text/javascript">
                $("#uploadTrigger").click(function(){
                    $("#uploadFile").click();
                });
            </script>


           <!-- Example: nv-file-select="" uploader="{Object}" options="{Object}" filters="{String}" -->
            <!--<input type="file" nv-file-select="" uploader="uploader" multiple/><br/>-->
            <p class="uploaded-count">Uploaded photos: {{ uploader.queue.length }}</p>


            <!--<table class="table">
                <thead>
                <tr>
                    <th width="50%">Name</th>
                    <th ng-show="uploader.isHTML5">Size</th>
                    <th ng-show="uploader.isHTML5">Progress</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in uploader.queue">
                    <td>
                        <strong>{{ item.file.name }}</strong>
                        &lt;!&ndash; Image preview &ndash;&gt;
                        &lt;!&ndash;auto height&ndash;&gt;
                        &lt;!&ndash;<div ng-thumb="{ file: item.file, width: 100 }"></div>&ndash;&gt;
                        &lt;!&ndash;auto width&ndash;&gt;
                        <div ng-show="uploader.isHTML5" ng-thumb="{ file: item._file, height: 100 }"></div>
                        &lt;!&ndash;fixed width and height &ndash;&gt;
                        &lt;!&ndash;<div ng-thumb="{ file: item.file, width: 100, height: 100 }"></div>&ndash;&gt;
                    </td>
                    <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                    <td ng-show="uploader.isHTML5">
                        <div class="progress" style="margin-bottom: 0;">
                            <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                        </div>
                    </td>
                    <td class="text-center">
                        <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                        <span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                        <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                    </td>
                    <td nowrap>
                        <label>size</label> <select style="width: 60px;" ng-model="size" ng-options="f for f in sizes"></select>
                        <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                            <span class="glyphicon glyphicon-upload"></span> Upload
                        </button>
                        <button type="button" class="btn btn-warning btn-xs" ng-click="item.cancel()" ng-disabled="!item.isUploading">
                            <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                        </button>
                        <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                            <span class="glyphicon glyphicon-trash"></span> Remove
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>-->
            <div class="col-lg-12 col-md-12 uploaded-images-container" ng-if="uploader.queue.length != 0">
                <div class="col-md-3 uploaded-image-wrapper" ng-repeat="item in uploader.queue">
                    <button type="button" class="btn btn-danger btn-xs delete-uploaded-image pull-right animated fadeIn" ng-click="item.remove()">
                        <span class="flaticon-pp-delete" tooltip="Remove Document"></span>
                    </button>
                    <div class="clearfix"></div>
                    <div class="uploaded-image" ng-show="uploader.isHTML5" ng-thumb="{ file: item._file, height: 100 }"></div>
                    <h4 title="{{ item.file.name }}">{{ item.file.name }}</h4>
                    <span class="pull-left">{{ item.file.size/1024/1024|number:2 }} MB</span>

                    <label class="pull-left">Size:</label> <select ng-model="item.sizeDefault"
                                                ng-options="f for f in item.sizeInfo" ng-change="item.onSelectChnage(item.file.name,item.sizeDefault)"></select><br/>
                    <label>No of copies:<input class="copies-input form-control" type="number" min="1" ng-model="item.noCount" ng-change="photoNumberValidator(item)" required/></label>
                    <span class="alert alert-success" ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok successGreen"></i>Successfully Uploaded.</span>
                    <span class="alert alert-warning" ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle errorRed"></i>Upload Cancelled!</span>
                    <span class="alert alert-danger" ng-show="item.isError"><i class="glyphicon glyphicon-remove errorRed"></i>Error! Try again.</span>
                </div>
            </div>

            <!-- <div>
                 <div>
                     Queue progress:
                     <div class="progress" style="">
                         <div class="progress-bar" role="progressbar" ng-style="{ 'width': uploader.progress + '%' }"></div>
                     </div>
                 </div>
                 <label>size</label> <select style="width: 60px;" ng-model="size" ng-options="f for f in sizes"></select>
                 <button type="button" class="btn btn-success btn-s" ng-click="uploader.uploadAll()" ng-disabled="!uploader.getNotUploadedItems().length">
                     <span class="glyphicon glyphicon-upload"></span> Upload all
                 </button>
                 <button type="button" class="btn btn-warning btn-s" ng-click="uploader.cancelAll()" ng-disabled="!uploader.isUploading">
                     <span class="glyphicon glyphicon-ban-circle"></span> Cancel all
                 </button>
                 <button type="button" class="btn btn-danger btn-s" ng-click="uploader.clearQueue()" ng-disabled="!uploader.queue.length">
                     <span class="glyphicon glyphicon-trash"></span> Remove all
                 </button>
             </div>-->


     </div>

   <!-- </div>-->

<!--
</div>-->
