<div class="container">

    <div class="row">

        <div class="col-lg-3 col-md-3">

            <h3>Price Details</h3>
            <table>
                <tr>
                    <th width="40px">name</th>
                    <th width="20%">count</th>
                    <th width="20%">size</th>
                    <th width="20%">total</th>
                </tr>
                <tr ng-repeat="item in totalBill">
                    <td ><h4 style="width: 60px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">{{item.name}}</h4></td>
                    <td>{{item.count}}</td>
                    <td>{{item.size}}</td>
                    <td>{{item.total}}</td>

                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>{{returnTotalBill()}}</td>
                </tr>
            </table>
            <div>
                <div>
                    Queue progress:
                    <div class="progress" style="">
                        <div class="progress-bar" role="progressbar"
                             ng-style="{ 'width': uploader.progress + '%' }"></div>
                    </div>
                </div>
                <label>size</label> <select style="width: 60px;" ng-model="size" ng-options="f for f in sizes" ng-disabled="!uploader.getNotUploadedItems().length" ng-change="changeTheSelectors()"></select><br/>
                <button style="border-radius: 0 !important; border-color: #000000; border-width: 1px;" type="button"
                        class="btn btn-s" ng-click="uploader.uploadAll()"
                        ng-disabled="!uploader.getNotUploadedItems().length">
                    <span class="glyphicon glyphicon-upload" style="color: #5cb85c;"></span> all
                </button>
                <button style="border-radius: 0 !important; border-color: #000000; border-width: 1px;" type="button"
                        class="btn btn-s" ng-click="uploader.cancelAll()" ng-disabled="!uploader.isUploading">
                    <span class="glyphicon glyphicon-ban-circle" style="color: #f0ad4e;"></span> all
                </button>
                <button style="border-radius: 0 !important; border-color: #000000; border-width: 1px;" type="button"
                        class="btn btn-s" ng-click="uploader.clearQueue()" ng-disabled="!uploader.queue.length">
                    <span class="glyphicon glyphicon-trash" style="color: #d9534f;"></span> all
                </button>
            </div>

        </div>

        <div class="col-lg-9 col-md-9" style="margin-bottom: 40px">
            <div id="status-buttons" class="text-center">
                <a ui-sref-active="active" ui-sref=".upload" style="color: #000000;"><span style="color: #ffffff">1</span>Select</a>
                <a ui-sref-active="active" ui-sref=".details" style="color: #000000;"><span style="color: #ffffff">2</span>Info</a>
                <a ui-sref-active="active" ui-sref=".verification" style="color: #000000;"><span style="color: #ffffff">3</span>Payment</a>
            </div>
            <div id="form-views" class="col-lg-12 col-md-12 col-sm-12" ui-view></div>
        </div>

    </div>

</div>